.contactInfo {
    display: flex;
    width: fit-content;
    align-items: baseline;
}

.contactAlign {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: 20px;
}

.image {
    height: 100px;
    width: 100px;
}
