.contactForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F6E8FC;
    border-radius: 12px;
    padding: 50px;
}

.submitButton {
    margin-top: 12px;
    width: 150px;
    border-radius: 12px;
    background-color: #F6E8FE;
    font-size: 18px;
}

.fieldLabel {
    font-size: 18px;
}

.inputFields {
    margin-bottom: 30px;
    width: 200px;
    height: 40px;
}

.messageField {
    margin-bottom: 30px;
    width: 200px;
    height: 60px;
}